<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAU5tU83QcjvL11ow73-9OFG8O_qZI5UDk</string>
	<key>GCM_SENDER_ID</key>
	<string>743127979068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ml.sivasai.inventoryScanner.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>scanify-devlopment</string>
	<key>STORAGE_BUCKET</key>
	<string>scanify-devlopment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743127979068:ios:2de46b947ed0f965a39f39</string>
</dict>
</plist>